.app_containt {
width: 100%;
}
.app_table {
    width: 100%;
}
.toolbar{
    width: 100%;
}
.shift_left{
    position: absolute;
    left: 85%;
}
.center{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.example-element-detail {
    overflow: hidden;
    display: flex;
  }
tr.detail-row {
    height: 0;
  }