
<mat-toolbar class="toolbar">
    <mat-icon aria-label="coronavirus icon">coronavirus</mat-icon>
    <span>COVID INDIA CASES</span>
      <span class="shift_left" >
        {{lastUpdate|date:"dd/MM/YYYY"}}
        <!-- <mat-icon  aria-label="date icon">today</mat-icon> -->
      </span>
    
</mat-toolbar>
<div class="app_table">
    <table mat-table [dataSource]="ELEMENT_DATA" class="app_table" multiTemplateDataRows>
        <!-- <ng-container matColumnDef="statecode">
            <th mat-header-cell *matHeaderCellDef> <button mat-button  matTooltip = "Info about the action"> State </button> </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-button >
                    {{element.statecode == "TT"?"INDIA":element.state}}
                </button>
            </td>
          </ng-container> -->
          
    
        <ng-container matColumnDef="loc">
            <th mat-header-cell *matHeaderCellDef> State </th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-button >
                  {{element.loc}} 
                </button></td>
        </ng-container>
    
          <ng-container matColumnDef="totalConfirmed">
            <th mat-header-cell *matHeaderCellDef> Confirmed </th>
            <td mat-cell *matCellDef="let element"> {{element.totalConfirmed}} </td>
          </ng-container>
          <ng-container matColumnDef="deaths">
            <th mat-header-cell *matHeaderCellDef> Deaths </th>
            <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
          </ng-container>
          <ng-container matColumnDef="discharged">
            <th mat-header-cell *matHeaderCellDef> Discharged </th>
            <td mat-cell *matCellDef="let element"> {{element.discharged}} </td>
          </ng-container>

          <!-- <ng-container  matColumnDef="expandedElement">
            <td *ngIf="element" mat-cell *matCellDef="let element" >
                <div >~{{element.dethRatio| number: '3.2-2' |percent}}</div>
            </td>
          </ng-container> -->
          
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="expandedElement = expandedElement === row ? null : row"></tr>
        <!-- <tr  mat-row *matRowDef="let row; columns: ['expandedElement']" class="detail-row"></tr> -->
        <!-- <ng-container matColumnDef="expandedDetail">display detail here</ng-container> -->
      </table>

</div>
